.Search{
    width:17.733px;
    height:17.733px;
    flex-shrink: 0;
    position: absolute;
    right: 170px;
    top:17px;
    
    
}
.User{
    width:17px;
    height:17px;
    flex-shrink: 0;
    position: absolute;
    right: 190px;
    top:17px;
    
}
.Shopping{
    width:17px;
    height:17px;
    flex-shrink: 0;
    position: absolute;
    right: 210px;
    top:17px;
    
    
}
.Taketext{
    display: flex;
    padding: 5.367px 12.522px;
    justify-content: center;
    align-items: center;
    gap: 4.472px;
    border-radius: 15.578px;
    background-color:  #1A1A1A;
    
}
.Navpad{
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    gap: 40.294px;
    position: absolute;
    left: 295px;
    font-weight: bold;
    color: #1A1A1A;
    text-align: center;
    font-family: GT Walsheim Pro;
    font-size: 18.05px;
    font-style: normal;
    font-weight: 500;
    line-height: 10.733px; /* 133.333% */
    letter-spacing: 0.224px;
   
    
}
.Navbaslik{
    font-weight: 500;
    font-size: 45px;
    display: flex;
    width: 62.611px;
    height: 18.336px;
    flex-direction: column;
    justify-content: center;
    padding: 75px;
}
.image1{
    width: 350px;
    height: 400px;
    position: relative;
    left: 450px; 
    top: 5px;
}

.image2{
    width: 350px; 
    height: 400px;
    position: relative;
    left: 830px;
    bottom: 390px;
}

.Ortahat{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: -59.481px;
    align-self: stretch;
    background-color: #EAF586;
    color: black;
    width: 100%;
    padding: 20px;
}
.Metin1{
    color: var(--black, #1A1A1A);
    font-family: Value Serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 41.306px; /* 109.375% */
    letter-spacing: 0.547px;
    width: 350.961px;
    height: 93.022px;
    position: absolute;
    left: 150px;
    top: 120px;
}
.text{
    position: absolute; 
    bottom: 200px; 
    left: 140px;
}

.alttext{
    display: flex;
    padding: 5.367px 17.889px;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 300px;
    border-radius: 3.578px;
    background: var(--black, #1A1A1A);
    padding: 6px 6px 18px 18px;
    }

    .altmetin{
      color: #EAF586;
      text-align: center;
      font-family: GT Walsheim Pro;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      line-height: 10.733px; /* 133.333% */
      top: 55px;
    }
    .row{
        width: 100%;
        color: var(--black-low-emphasis, rgba(26, 26, 26, 0.60));
        font-family: GT Walsheim Pro;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.072px;
        top: 5px;
    
    }
    .grid {
        display: flex;
        padding-bottom: 0px;
       padding-top: 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 21.467px;
        align-self: stretch;
    }
    .Chat{
        width: 24.311px;
        height: 24.311px;
        flex-shrink: 0;
        display: flex;
        float:left;
        right:  25px; 
    }
    .Gift{
        width: 24.311px;
        height: 24.311px;
        flex-shrink: 0;
        display: flex;
        float:left;
        right:  25px; 
    }
    .Star{
        width: 24.311px;
        height: 24.311px;
        flex-shrink: 0;
        display: flex;
        float:left;
        right:  25px; 
    }
    .col{
        color: var(--black-low-emphasis, rgba(26, 26, 26, 0.60));
        font-family: GT Walsheim Pro;
        font-size: 17.156px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.072px;
        width: 142.217px;
    }
    .Article{
        display: flex;
        padding: 53.667px 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 71.556px;
        align-self: stretch;
        background-color: #dfdee6;
    }
    .Title{
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 7.156px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.789px;
        text-transform: uppercase;
    }
    .card-title-1{
        color: var(--white, #fff);
        font-family: Value Serif;
        font-size: 22.889px;
        font-style: normal;
        font-weight: 700;
        line-height: 21.467px; 
        
    }
    .card-title-1{
        display: flex;
        width: 165.472px;
        padding: 16.994px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        position: relative;
        bottom: 380px;
        float: left;

    }
    .Span{
        width: 201.072px;
        height: 17.442px;
        position: relative;
        bottom: 140px;
        left: 20px;
        border-radius: 3.578px;
        border: 0.447px solid var(--black, #1A1A1A);
        background: var(--off-white, #FBFBF9);
       
    }
    .Span-1{
        display: flex;
        width: 201.072px;
        padding: 3.578px 16.994px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 3.578px;
        border: 0.447px   #1A1A1A;
        background:  #EAF586;
        position: relative;
        left: 15px;
        bottom: 180px;
        float: left;
    }
    .Span-2{
        display: flex;
        width: 201.072px;
        padding: 3.578px 16.994px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 3.578px;
        border: 0.447px   #1A1A1A;
        background:  #EAF586;
        position: relative;
        bottom: 15px;
        float: left;
    }
    
    .card-img-top{
       left: 15px;
           
    }
    .Cards3{
        display: flex;
        width: 98%;
       padding: 0px 16.6px;
    }
    .Carousel{
        color:  #1A1A1A;
        font-family: Value Serif Pro;
        font-size: 53.3px;
        font-style: normal;
        position: absolute;
        bottom: 750px;
        left: 35px;
        font-weight: 400;
        line-height: normal;
        width: 576.779px;
        height: 36.575px;
        flex-shrink: 0;
    }
    .Carousel-1{
        color:  #1A1A1A;
        text-align: center;
        position: absolute;
        bottom: 600px;
        left: 35px;
        font-family: GT Walsheim Pro;
        font-size: 40.988px;
        font-style: normal;
        font-weight: 500;
        line-height: 6.65px; /* 133.333% */
        letter-spacing: 0.139px;
        display: flex;
        width: 462.621px;
        height: 50px;
        padding: 2.217px 10.529px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 12.217px;
        border: 0.277px solid #1A1A1A;
        background: #EAF586;
    }
    .Carousel-2{
        width: 462.621px;
        height: 40px;
        position: absolute;
        right: -1.663px;
        bottom: -1.59px;
        border-radius: 12.217px;
        border: 0.277px solid #000;
        background: #F6F5FF;
        position: absolute;
        bottom: 580px;
        left: 45px;
    }
    .Cards5{
        width: 250px;
        height: 50px;
        object-fit : scale-down;
        position: relative;
        left: 300px;
    }
    .Son{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8.867px;
    }
    .Says{
        color: #1A1A1A;
        text-align: center;
        font-family: GT Walsheim Pro;
        font-size: 12.867px;
        font-style: normal;
        font-weight: 400;
        line-height: 9.698px; /* 109.375% */
        letter-spacing: 0.139px;
        width: 25.769px;
        height: 10.529px;
        position:absolute;
        right: 480px;
        top: 2930px;
    }
    .İcon{
        width: 10.806px;
        height: 8.035px;
        fill: #1C1C1C;
        position: absolute;
        right: 540px;
        top: 2955px;
    }
    .Sontext{
        color:  rgba(28, 28, 28, 0.75);
        text-align: center;
        font-family: GT Walsheim Pro;
        font-size: 27.758px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 742.171px;
        height: 119.119px;
        text-align: center;
        position: relative;
        left: 350px;
    }
    .FrameTitle{
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 18.433px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.108px;
        text-transform: uppercase;
    }
    .FrameP{
        color: var(--black, #1A1A1A);
        text-align: center;
        font-family: Value Serif Pro;
        font-size: 23.3px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .Section3{
        display: flex;
        width: 399px;
        padding: 0px 16.625px;
        flex-direction: column;
        align-items: center;
        gap: 13.3px;
    }
    .Cards6{
        display: flex;
        padding: 10.529px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 25px;
        width: 100%;
        height: 500px;
        
    }
    .Cards7{
        display: flex;
        padding: 10.529px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        flex: 1 0 0;
        align-self: stretch;
        width: 100%;
        height: 500px;
        border-radius: 25px;
    }
    .Cards8{
        display: flex;
        padding: 10.529px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        flex: 1 0 0;
        align-self: stretch;
        width: 100%;
        height: 500px;
        border-radius: 25px;
    }
    .Card{
        position: relative;
        bottom: 120px;
        float: left;
        left: 25px;
        color: #fff;
        font-family: Value Serif Pro;
        font-size: 25.542px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.277px;
    }
    .Card-1{
        position: relative;
        bottom: 130px;
        float: left;
        left: 25px;
        color: #fff;
        font-family: Value Serif Pro;
        font-size: 20.542px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.277px;
    }
    .Sectiontext{
        background-color: #cfbd16;
    }
    .Sectiontext-1{
        color: #131313;
        text-align: center;
        font-family: Inter;
        font-size: 24.433px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.108px;
        text-transform: uppercase;
        position: absolute;
        left:455px;
    }
    .Sectiontext-2{
        color:  #1A1A1A;
        text-align: center;
        font-family: Value Serif Pro;
        font-size: 23.3px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        left:455px;
        top: 4000px;
    }
    .Sbaslik{
        color: #1A1A1A;
        font-family: GT Walsheim Pro;
        font-size: 25.542px;
        font-style: bold;
        font-weight: 400;
        line-height: 6.65px; /* 120% */
        letter-spacing: 0.055px;
        position: absolute;
        left:100px;
        top: 4100px;
        
    }
    .Smetin{
        color: rgba(26, 26, 26, 0.70);
        font-family: GT Walsheim Pro;
        font-size: 14.988px;
        font-style: normal;
        font-weight: 400;
        line-height: 26.096px; /* 122.222% */
        letter-spacing: 1.139px;
        width: 1000px;
        position: absolute;
        left:100px;
        top: 4130px;
        padding: 2px;
    }
    .Simg{
        width: 7px;
        height: 7px;
        flex-shrink: 0;
        stroke-width: 0.416px;
        stroke:  #1C1C1C;
        position: absolute;
        right:100px;
        top: 4130px;
    }
    .Shr{
        width: 1100.167px;
        height: 0.277px;
        position: absolute;
        right:100px;
        top: 4180px;
        
    }
    .Sbaslik1{
        color: #1A1A1A;
        font-family: GT Walsheim Pro;
        font-size: 25.542px;
        font-style: normal;
        font-weight: 400;
        line-height: 6.65px; /* 120% */
        letter-spacing: 0.055px;
        position: absolute;
        left:90px;
        top: 4210px;
        padding: 15px;
        
    }
    .Simg1{
        width: 8.867px;
        height: 8.867px;
        position: absolute;
        right:90px;
        top: 4210px;
    }
    .Shr1{
        width: 1100.167px;
        height: 0.277px;
        position: absolute;
        right:100px;
        top: 4240px;
        padding: 25px;
    }
    .Sbaslik2{
        color: #1A1A1A;
        font-family: GT Walsheim Pro;
        font-size: 25.542px;
        font-style: normal;
        font-weight: 400;
        line-height: 6.65px; /* 120% */
        letter-spacing: 0.055px;
        position: absolute;
        left:100px;
        top: 4290px;
    }
    .Shr2{
        width: 1100.167px;
        height: 0.277px;
        position: absolute;
        right:100px;
        top: 4310px;
        padding: 15px;
    }
    .Sbaslik3{
        color: #1A1A1A;
        font-family: GT Walsheim Pro;
        font-size: 25.542px;
        font-style: normal;
        font-weight: 400;
        line-height: 6.65px; /* 120% */
        letter-spacing: 0.055px;
        position: absolute;
        left:100px;
        top: 4350px;
    }
    .Smetin1{
        color: #1A1A1A;
        font-family: GT Walsheim Pro;
        font-size: 15.542px;
        font-style: normal;
        font-weight: bold;
        line-height: 6.65px; /* 120% */
        letter-spacing: 0.055px;
        position: absolute;
        left:320px;
        top: 4350px;
        text-decoration: underline;
    }
    .Simg2{
        width: 8.867px;
        height: 8.867px;
        position: absolute;
        right:90px;
        top: 4290px;
    }
    .Footer{
        position: absolute;
        top: 4370px;
    }
    .Ftext{
        display: flex;
        height: 221.667px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex: 1 0 0;
        background:  rgb(243, 223, 156) 50% / cover no-repeat;
        width: 450px;
        height: 430px;
    }


    .Fimg{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16.625px;
        flex: 1 0 0;
        align-self: stretch;
        width:  450px;
        position: absolute;
        right:0px;
        top: 0px;
    }
    .Fbaslik{
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 19.433px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.108px;
        text-transform: uppercase;
        position: absolute;
        left:250px;
        top: 50px;
    }
    .Fmetin{
        color:  #1A1A1A;
        text-align: center;
        font-family: Value Serif Pro;
        font-size: 33.3px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        left:170px;
        top: 80px;
    }
    .Fmetin1{
        color: #000;
        text-align: center;
        font-family: GT Walsheim Pro;
        font-size: 19.542px;
        font-style: normal;
        font-weight: 400;
        line-height: 6.65px; /* 120% */
        letter-spacing: 0.055px;
        position: absolute;
        left:170px;
        top: 150px;
    }
    .Social{
        display: flex;
        align-items: center;
        gap: 8.313px;
    }
    .Instagram{
        color: #000;
        font-family: GT Walsheim Pro;
        font-size: 18.758px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        position: absolute;
        top: 5px;
        left: 60px;

    }
    .Tiktok{
        color: #000;
        font-family: GT Walsheim Pro;
        font-size: 18px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        position: absolute;
        top: 20px;
        left: 60px;
    }
    .Soso{
        color:  #1A1A1A;
        font-family: GT Walsheim Pro;
        font-size: 14.433px;
        font-style: normal;
        font-weight: 400;
        line-height: 6.484px; /* 146.25% */
        position: absolute;
        top: 40px;
        left: 70px;
    }
    .Soso1{
        color:  #1A1A1A;
        font-family: GT Walsheim Pro;
        font-size: 14.433px;
        font-style: normal;
        font-weight: 400;
        line-height: 6.484px; /* 146.25% */
        position: absolute;
        top: 50px;
        left: 70px;

    }
    .Span-insta{
        background:  rgb(243, 223, 156) 50% / cover no-repeat;
        position: absolute;
        top: 220px;
        left: 150px;
    }
    .İnsta{
        width: 10.867px;
        height: 10.867px;
        position: absolute;
        top: 10px;
        left: 30px;
    }
    .Tik{
        width: 10.867px;
        height: 10.867px;
        position: absolute;
        top: 20px;
        left: 30px;
    }
    .Span-tiktok{
        background:  rgb(243, 223, 156) 50% / cover no-repeat;
        position: absolute;
        top: 300px;
        left: 150px;
    }

   
    